@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@import url("https://fonts.googleapis.com/css?family=Passion+One");
/* Made in SCSS */
/* Basic */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  background-image: url("../images/site-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all .5s ease-in-out;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@media (min-width: 48em) {
  html, body {
    font-size: 16px;
  }
}


/* Wrapper */
#page-wrapper {
  overflow-x: hidden;
}

/* Menu */
.icon-menu {
  color: #000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px 15px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  font-size: 18px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 5px 2px 2px;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .icon-menu {
    margin: 3px 4px 0 0;
    border-radius: 2px;
    padding: 2px 3px;
    font-size: 14px;
  }
}

.icon-menu .i {
  margin-left: 15px;
}

.menu {
  background-color: #588c7e;
  right: -285px;
  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 9999;
}

.menu ul {
  border-top: 1px solid;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  border-bottom: 0.01em solid #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  width: 90%;
  margin: auto;
}

.menu ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transition: all .4s ease-in-out;
}

.menu ul li a:hover {
  color: #000;
}

.menu .icon-close {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 10px;
  float: right;
  margin-left: 90%;
}

.menu .icon-close i {
  color: #fff;
}

.menu .icon-close i:hover {
  color: #000;
  transition: all .4s ease-in-out;
}

/* Banner */
#banner {
  padding: 40px 0;
}

#banner .inner {
  margin: auto;
}

#banner .inner h1 {
  text-decoration: none;
  font-size: 32px;
  font-family: 'Passion One', cursive;
  color: #fff;
  border-top: 3px solid #dddfd4;
  border-bottom: 2px solid #dddfd4;
  padding: 10px 20px;
  letter-spacing: 0.15em;
  width: 300px;
  margin: 150px auto 50px auto;
}

#banner .inner p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.15em;
}

#banner .inner p a {
  color: #b3b3b3;
}

#banner .inner a .btn-default {
  margin-top: 30px;
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: #dd3e22;
  transition: all .4s ease-in-out;
  letter-spacing: 0.060em;
  font-size: 14px;
}

#banner .inner a .btn-default:hover {
  background-color: #e3654f;
}

#scroll-down {
  text-align: center;
  margin-top: 50px;
}

#scroll-down h3 {
  font-size: 16px;
}

#scroll-down h3 a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 16px;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

#scroll-down h3 a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#scroll-down #arrow-down {
  margin-top: 30px;
}

#scroll-down #arrow-down a {
  font-size: 35px;
  color: #f9b41f;
  transition: all .4s ease-in-out;
}

/* Load */
#scroll-down {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: .7s;
  animation-fill-mode: backwards;
}

.pulse {
  animation-duration: 1.5s;
  animation-delay: 3.5s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/* One */
#one {
  color: #fff;
  background-color: #3fb0ac;
  padding: 100px 0;
}

#one h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: 0.20em;
}

#one p {
  font-size: 16px;
  margin: 40px auto;
}

#one #icons {
  font-size: 40px;
  color: #dddfd4;
}

#one #icons i {
  margin: 20px;
}

/* Sectons */
.sections {
  padding: 0;
  background-color: #1d2120;
  color: #fff;
}

.sections .item {
  margin: 0;
  padding: 0;
}

.sections .item .text {
  padding: 0;
  text-align: center;
}

.sections .item .text h2 {
  margin: 110px auto 30px auto;
  text-transform: uppercase;
  font-size: 28px;
  color: #e6e6e8;
  font-weight: bold;
}

@media (max-width: 990px) {
  .sections .item .text h2 {
    margin: 20px;
  }
}

.sections .item .text p {
  color: #e6e6e8;
  font-size: 16px;
  text-align: left;
  margin-left: 15px;
}

.sections .item .image {
  padding: 0;
}

/* Media */
#media {
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

#media .item {
  margin: 0;
}

#media .item .content {
  margin-left: 200px;
}

@media (max-width: 990px) {
  #media .item .content {
    margin-left: 0;
  }
}

#media .item .content h2 {
  margin: 70px auto;
  text-transform: uppercase;
  font-size: 26px;
}

#media .item .content .buttons {
  margin: 40px auto;
}

#media .item .content .buttons #activate {
  padding: 8px 60px;
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: #f6f1ed;
  background-color: #dd3e22;
  transition: all .6s ease-in-out;
  letter-spacing: 0.20em;
}

#media .item .content .buttons #activate:hover {
  background-color: #e05038;
}

#media .item .content .buttons #learn-more {
  padding: 8px 40px;
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(140, 140, 140, 0.2);
  border: 2px solid;
  border-radius: 4px;
  color: #f6f1ed;
  transition: all .6s ease-in-out;
  letter-spacing: 0.20em;
}

#media .item .content .buttons #learn-more:hover {
  background-color: rgba(140, 140, 140, 0.8);
}

/* Footer */
#footer {
  text-align: center;
  background-color: rgba(16, 18, 35, 0.9);
  padding: 100px 0 90px 0;
  margin: 0 auto;
}

@media (max-width: 767px) {
  #footer {
    padding: 10px 0;
  }
}

#footer .social-media {
  margin-bottom: 30px;
}

#footer .social-media a {
  text-decoration: none;
  font-size: 24px;
  color: #bfbfbf;
  margin: 5px;
  transition: all .4s ease-in-out;
}

#footer .social-media a:hover {
  color: #fff;
}

#footer .copyright {
  font-size: 12px;
  color: #bfbfbf;
  text-decoration: none;
  margin-top: 20px;
}
